<h2>This are our creators</h2>
<div class="container-fluid">
  <div class="users-row row">
  <% users.forEach((user) => {%>
    <div class="col-sm-3 home-campaign-box users">
      <img src="<%=user.imgUrl%>">
      <div class="listing-text">
        <a><b>My name is: </b><%=user.username%></a>
        <br>
        <q><%=user.description%></q>
      </div>
    </div>
    <%})%>
  </div>
</div>
