<h2>This are our creators</h2>
<div class="container-fluid">
  <div class="row users-row">

      <% users.forEach((user) => {%>
      <div class="col-sm-3 home-campaign-box">
        <div class="home-campaign-box-userimage">
          <img src="<%=user.imgUrl%>">
        </div>
        <div class="listing-text">
          <p>
            <b>Creator name: </b>
            <%=user.username%>
          </p>
          <i>
            <%=user.description%>
          </i>
        </div>
      </div>
      <%})%>

  </div>
</div>
